/* 公告信息 */
.gg{
	padding-top: 80px;
}
.right_search{
	height: 40px;
	color: white;
	border-bottom: 1px solid #00A84D;
	margin-bottom: 10px;
}

.right_search div{
		background: #00A84D;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 5px;
}
.right_search input{
	outline: none;
	border: none;
}
.pr{
	margin-right: 0;
}
.semir_info{
	color: #4A4A4A;
	font-size: 13px;
}
.semir_info div{
	margin-bottom: 10px;
}
.semir_info div+div:hover{
	background-color: #F1F6FA;
	cursor: pointer;
}
.semir_info .info_title{
	font-size: 22px;
	background-color: #F7F7F7;
	height: 45px;
	line-height: 45px;
}
#h6{
	font-size: 16px;
}
#mask_info{
	display: none;
}
#mask_info:hover{
	background-color: white;
}
@media (min-width:776px) {
	.left_h,.right_h{
		height: 140px;
	}
}
.container{
	margin: 0 auto;
}
.left_h{
	background-color:#B79D62 ;
}
.left_h a{
	display: block;
	margin-top: 60px;
	color: white;
	text-decoration: none;
	font-size: 22px;
}
.left_h a:hover{
	color: gray;
	text-decoration: none;
}
.right_h{
	background-color: #F3F3F3;
}